{% extends "home/base.html" %}
{% block content %}
    <div style="text-align: center; position:relative; top:50px;">
    <h1 style="text-align: center;">{{object.department}} - {{object.course_num}} ({{object.class_num}}-{{object.section_num}})</h1>
    <h2>{{object.course_name}}</h2>
    <h3>Professor: {{object.professor}}</h3>
    <h3>Class Type: {{object.class_type}}</h3>
    <h3>Credits: {{object.credits}}</h3>
    <h3>Location: {{object.meeting_place}}</h3>
    <h3>Seats: {{object.filled_seats}}/{{object.seat_count}}</h3>
    <h3>Meeting Days: {{object.meeting_days}}</h3>
    <h3>Meeting Time: {{object.meeting_times}}</h3>
    {% if has_discussions %}
        <h3>Discussions:</h3>
    {% endif %}
    <div class="container"><div class="row">
    {% for discussion in discussions %}
        <div class="col-4">
        <a href="{% url 'd_l-detail' discussion.index %}" class="btn btn-outline btn-block">{{discussion.class_num}} - {{discussion.section_num}}</a>
        <h5>Class Type: {{discussion.class_type}}</h5>
        <h5>Location: {{discussion.meeting_place}}</h5>
        <h5>Seats: {{discussion.filled_seats}}/{{discussion.seat_count}}</h5>
        <h5>Meeting Days: {{discussion.meeting_days}}</h5>
        <h5>Meeting Time: {{discussion.meeting_times}}</h5>
        </div>
    {% endfor %}
    </div>
{% endblock content %}